body {
    margin:0;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  rgb(9, 88, 88);
    position: sticky;
  }
  
li {
    float: left;
    border-left: solid 0.5px gray;
    border-right: solid 0.5px gray;
  }

#about
{
    float:right;
    border : none;
}
  
.last_before_about
{
    border-right: none;
}

li:first-child{
    border-left:none;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
li a:hover:not(.active) {
    background-color:rgb(129, 212, 129);
  }
  
.navbar{
    position: sticky;
    top: 0;
}
