body {
    margin:0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    background-image: linear-gradient(120deg, #101f1f, #22502c);
}

/*  the css for the navbar */
ul {

    list-style-type: none;
    margin: 0;
    padding: 0% 0px;
    
    overflow: hidden;
    background-color:  rgb(9, 88, 88);
    position: sticky;
  }
  
li {
    display: flex;
    justify-content: center;
    min-height: 60px;
    float: left;
    margin: 0% 0.5%;
  }

#about
{
    float:right;
    border : none;
    margin-right: 25%;
  
}
  
.last_before_about
{
    border-right: none;
}

li:first-child{
    border-left:none;
    margin-left: 20%;
}
  
li a {
    justify-content: center;
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 1.5s;
  }

li span {
  justify-content: center;

}
  
li a:hover:not(.active) {
    background-color:rgb(129, 212, 129);
    color:black;
    transition: 1.5s;
   
  }


li a:hover


.navbar{
   
    position: sticky;
    top: 0;
    min-height: 60px;
    
    
}


/*  css about aboutCard */

#cardContainer{
  position: relative;
  z-index: 2; 
  float:right;  
  display: block;
  width: 30%; /* a fost 50% in caz de probeleme pe parcurs trb remodificat in pozitia initiala */
  margin: 0px;
  padding: 0% 20%;
  justify-content: center;
  align-items: center;
}

#aboutCard
{
  position: relative;
  z-index: 2; 
  display: none;
  background-color: paleturquoise;
  
  min-height: 30vh;
  width: 100%;
  padding: 2rem 5rem;
  margin: 0px;

  border-radius: 30px;
  box-shadow: -10px 20px 20px rgba(0,0,0,0.2);

  float:right;  
  
}

#aboutCard:hover
{
  box-shadow: -10px 40px 20px rgba(0,0,0,0.3);
}

.display
{
    display: block;
}

.memberOne
{
  float: left;
}

.memberTwo{
  float: right;
}

.paragraf
{
  z-index: 1;
  position: absolute;
}

.giticon,.linkedinicon{
  height: 50px;
  width: 50px;
  margin-right: 20px;
}

#mainBody{
  position: absolute;
  display: flex;
  z-index: 0;
}


