*{
  box-sizing: border-box;
}
body {
    margin:0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    background-image: linear-gradient(120deg, #203030, #276334);

    background-color: green;
}
/*  the css for the navbar */

.navbar{
   
    position: fixed;
    top: 0;
    min-height: 60px;
    width: 100vw;
    z-index:1;
    
}

h1,h2,p,span {
  color: black;
  text-align: center;
}


ul {

    list-style-type: none;
    margin: 0;
    padding: 0% 0px;
    
    overflow: hidden;
    background-color:  rgb(8, 77, 77);
    position: sticky;
  }
  
li {
    display: flex;
    justify-content: center;
    min-height: 60px;
    float: left;
    margin: 0% 0.5%;
  }

#about
{
    float:right;
    border : none;
    margin-right: 25%;
  
}
  
.last_before_about
{
    border-right: none;
}

li:first-child{
    border-left:none;
    margin-left: 20%;
}
  
li a{
    justify-content: center;
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 1.5s;
  }

li span {
  justify-content: center;

}
  
li a:hover:not(.active) {
    background-color:rgb(129, 212, 129);
    color:black;
    transition: 1.5s;
   
  }


/* the css for the gridbox */
#movieContainer {

  position: relative;
  display: grid;
  top:60px;
  padding: 8% 15%;
  justify-content: center;
  grid-template-columns:  1fr 1fr 1fr ;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
  "grid-poster grid-text grid-rating"
  "grid-playlist grid-trailer grid-trailer"
  "grid-crew grid-comments grid-comments";
  grid-column-gap: 5em;
  grid-row-gap: 10em;
  flex-wrap: wrap;
}

.grid-poster {
  grid-area: grid-poster;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.grid-poster img{
  width: 100%;
  height: 100%;
  border-radius: 5%;
  box-shadow: -10px 20px 20px rgba(0,0,0,0.9);
}
#img_filter{
  margin:0.5em;
  padding:1em;
  background-color: paleturquoise;
  border-radius: 20px;
  text-align: center;
  width:100%
}
#img_filter:hover:not(.active) {
  background-color:rgb(129, 212, 129);
  color:black;
  transition: 1.5s;
}

.grid-text {
  grid-area: grid-text;
  text-align: justify;
  width: auto;
  height: auto;
}
.grid-text p{
  text-align: justify;
}

.grid-rating {
  grid-area: grid-rating;
  width: auto;
  height: auto;
  background-color: paleturquoise;
  border-radius: 20px;
  text-align: center;
  box-shadow: 10px 20px 20px rgba(0,0,0,0.9);
}
.grid-rating a{
  display: block;
  margin:10px;
}
.grid-playlist{
  grid-area: grid-playlist;
  width: auto;
  height: auto;
}
audio{
    margin-top: 20px;
    margin-bottom: 20px;
}
.player{
  padding: 1em;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  background-color: paleturquoise;
  border-radius: 2em;
  justify-content: space-between;
  align-items: center;
}
.songCover{
  display:flex;
  flex-direction: row;
  padding:1em;
  border-radius: 2em;
  background-color: rgb(8, 77, 77);
}
#cover{
  width:10vw;
  height:30vh;
  border-radius: 2em;
  margin-right: 10px;
  box-shadow: -10px 10px 20px rgba(0,0,0,0.9);
}
.controls{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#playlist{
    
    display: flex;
    margin-top: 0.5em;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    border-radius: 2em;
    width: 5vw;
    height: 30vh;
}
#playlist div{
  justify-content: center;
  width: 100%;
  padding: 14px 16px;
  text-decoration: none;
  transition: 1.5s;
}
#playlist div a{
  color: whitesmoke;
}
#playlist div:hover{
  background-color: paleturquoise;
  color: black;
  transition: 1.5s;
}
/*CSS for video (trailer)*/
.grid-trailer{
  grid-area: grid-trailer;
  position: relative;
  text-align: end;
  width: 100%;
  height: 80%;
} 
video{
  width: 100%;
  height: auto;
}
.grid-trailer .controls{
  height: 50px;
  width:100%;
  background: rgb(8, 77, 77);
  color:#fff;
  margin-top:-4px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: end;
}
#range{
  height:10px;
  width: 80%;
  border-radius: 50px;
  outline: none;
  border: none;
  color: paleturquoise;
  margin:0 .5rem;
}
#play-video{
  background: none;
  outline:none;
  border:none;
  color:paleturquoise;
}
.controls span{
  font-family: arial;
  margin:0 .5 rem;

}
.video_filters{
  width: 90%;
  display:flex;
  flex-direction:row-reverse;
  align-items: flex-end;
}
#btnFilterVideo{
  width: 22%;
  margin:0.2em;
  padding:0.5em;
  background-color: paleturquoise;
  border-radius: 20px;
  text-align: center;
}
#video_filter:hover:not(.active) {
  background-color:rgb(129, 212, 129);
  color:black;
  transition: 1.5s;
}
/* CSS for slideshow*/
.grid-crew{
  grid-area: grid-crew;
  display:flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  height: auto;
  background-color: paleturquoise;
  border-radius: 2em;
}

.slideshow {
  position: relative;
  margin: auto;
}
.mySlides {
  display: none;
}
/* Caption text */
.text {
  color: black;
  font-style: italic;
  font-size: 15px;
  padding: 8px 12px;
  position: relative;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* CSS for comment section*/
.grid-comments{
  width: 90%;
  grid-area: grid-comments;
  margin-left: 5em;
  border-radius: 2em;
  background-color: rgb(8, 77, 77);
}
.comments-container{
  border-radius: 20px;
  display: flex;
  align-items: flex-end;
  padding: 2em;
  flex-direction: column;
}
#comment-section{
 
  width:80%;
  padding: 1em;
  align-items: stretch;
  display: flex;
  flex-direction: column;
}
